@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --color-shop-black: #000000;
  --color-shop-white: #ffffff;
  --color-shop-gray-100: #F0F0F0;
  --color-shop-gray-200: #F2F0F1;
  --color-shop-gray-500: #00000099;
  /* 60% Black approx or #999 */
  --color-shop-red: #FF3333;
  --color-shop-border: #0000001a;
}

:root {
  --font-geist-sans: "Inter", sans-serif;
  --font-geist-mono: "Roboto Mono", monospace;
}

body {
  @apply font-sans text-shop-black bg-shop-white antialiased overflow-x-hidden m-0;
}

/* Base Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-[1.1];
}

.container {
  @apply max-w-[1240px] mx-auto px-4;
}

.brand-text {
  color: white;
  font-size: 32px;
  font-family: serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}